<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="lib/nprogress/nprogress.css"/>
    <link rel="stylesheet/less" href="less/jiben.less"/>
    <link rel="stylesheet/less" href="less/user.less"/>
    <script src="lib/less/less.js"></script>
    <style>

    </style>
</head>
<body>
<div class="big_container clearfix">
    <div class="comment">
        <div class="comment_top">
            <a href="#">为大佬递大瓶怡宝</a>
        </div>
        <div class="comment_user">
            <div class="user_img pull-left">
                <img src="images/default.png" alt=""/>
            </div>
            <div class="user_name pull-right">
                <a href="#">低级管理员</a>
            </div>
        </div>
        <div class="comment_body">
            <ul>
                <li><a class="active" href="#"><i class="glyphicon glyphicon-user"></i>用户管理</a></li>
                <li>
                    <a class="user_guanli" href="#"><i class="glyphicon glyphicon-list"></i>分类管理</a>
                    <div class="child" style="display: none;">
                        <a href="first.html">一级分类</a>
                        <a href="two.html">二级分类</a>
                    </div>
                </li>
                <li><a href="shangpin.html"><i class="glyphicon glyphicon-tags"></i>商品管理</a></li>
            </ul>
        </div>
    </div>
    <div class="main_body">
        <div class="main_top">
            <a class="pull-left top_menu" href="#"><i class="glyphicon glyphicon-align-justify"></i></a>
            <a class="pull-right top_logOut" href="#"><i class="glyphicon glyphicon-log-out"></i></a>
        </div>

        <div class="container-fluid">
            <div class="mianbaoxie">
                <ol class="breadcrumb">
                    <li><a href="#">管理系统</a></li>
                    <li class="active">用户管理</li>
                </ol>
            </div>
            <div class="user_main">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <td width="10%">序号</td>
                            <td width="30%">用户名</td>
                            <td width="30%">手机号</td>
                            <td width="15%">状态</td>
                            <td width="15%">操作</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <td>1</td>
                        <td>阿牛哥</td>
                        <td>111234331</td>
                        <td>正常</td>
                        <td>
                            <button class="btn btn-danger">禁用</button>
                        </td>
                        </tr>
                    </tbody>
                </table>
                <div class="fenye text-right">
                    <ul id='bp-element'>
                        <!-- 挖坑填分页数据 -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!--登出模态框-->
<div class="modal fade" id="modal_loginOut">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">痛苦提示</h4>
            </div>
            <div class="modal-body">
                <p class="text-danger"><i class="glyphicon glyphicon-info-sign">&nbsp;你确定更要退出后台界面吗兄弟</i></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary logOut_sure">确定</button>
            </div>
        </div>
    </div>
</div>
<!--禁用启用小模态框-->
<div class="modal fade" id="user_modal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">按钮不温馨提示</h4>
            </div>
            <div class="modal-body">
                <p class="text-danger"><i class="glyphicon glyphicon-info-sign">&nbsp;你确定要执行本次操作吗</i></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary user_sure">确定</button>
            </div>
        </div>
    </div>
</div>


<script src="lib/jquery/jquery.min.js"></script>
<script src="lib/bootstrap/js/bootstrap.min.js"></script>
<script src="lib/bootstrap-paginator/bootstrap-paginator.min.js"></script>
<script src="lib/nprogress/nprogress.js"></script>
<script src="lib/template/template-web.js"></script>
<script src="js/jiben.js"></script>
<script src="js/user.js"></script>


</body>
<script type="text/html" id="userTab_temp">
    {{each rows v i}}
        <tr>
            <td>{{i+1+(page-1)*size}}</td>
            <td>{{v.username}}</td>
            <td>{{v.mobile}}</td>
            <td>{{v.isDelete==1?'正常':'禁用'}}</td>
            <td data-id="{{v.id}}" data-Delid="{{v.isDelete}}">
                {{if v.isDelete==1}}
                  <button class="btn btn-danger">禁用</button>
                {{/if}}
                {{if v.isDelete==0}}
                  <button class="btn btn-info">启用</button>
                {{/if}}
            </td>
        </tr>
    {{/each}}
</script>
<script>

</script>
</html>